

<searchBar></searchBar>


<h1>{{title}}</h1>


THIS WILL DISPLAY A LIST OR GRID OF CLOTHES

WHEN CLICKED it will pull the clothes id and bring you to the cart page
<h1>{{title}}</h1>


THIS WILL DISPLAY A LIST OR GRID OF CLOTHES

WHEN CLICKED it will pull the clothes id and bring you to the cart page<h1>{{title}}</h1>


THIS WILL DISPLAY A LIST OR GRID OF CLOTHES

WHEN CLICKED it will pull the clothes id and bring you to the cart page
<h1>{{title}}</h1>


THIS WILL DISPLAY A LIST OR GRID OF CLOTHES

WHEN CLICKED it will pull the clothes id and bring you to the cart page
v<h1>{{title}}</h1>


THIS WILL DISPLAY A LIST OR GRID OF CLOTHES

WHEN CLICKED it will pull the clothes id and bring you to the cart page
<h1>{{title}}</h1>


THIS WILL DISPLAY A LIST OR GRID OF CLOTHES

WHEN CLICKED it will pull the clothes id and bring you to the cart page