<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" align="centers">
        <li>Type</li>
        <li>Category</li>
        <li>Category:
            <select>
              <option> Sports</option>
              <option> Music</option>
              <option> Games</option>
              <option> Nature</option>  
            </select>
        </li>
      </ul>
    </div>
  </div>
</div>