<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/clothes" routerLinkActive="active"> Strictly Shirts </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="/clothes" routerLinkActive="active"> Home <span class="sr-only">(current)</span></a></li>
        <li><a routerLink="/about" routerLinkActive="active"> About Us </a></li>
        <li *ngIf="check"><a routerLink="/dashboard" routerLinkActive="active"> Dashboard </a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav navbar-nav navbar-right"><a routerLink="/login" routerLinkActive="active"> Login / Sign Up </a></li>
      </ul>
    </div>
  </div>
</nav>



<h1>{{title}}</h1>
    <nav>
      <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
    </nav>
    <router-outlet></router-outlet>


    



